/vendor
/node_modules
/public/build
/public/hot
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
/storage/logs/*
/storage/app/public/*
!/storage/app/public/.gitignore
.env
.env.example
.git
.phpunit.result.cache
.editorconfig
.idea
.vscode
tests/
